<a href="#/code" class="btn">gen code</a>
<div class="row-fluid" dropzone>
  <div class="span6 text-center">
    <div ng-hide="files">
      <p>
        <strong>Welcome!</strong><br>
        Drag & drop here any photo<br>
        you wanna share<br>
        or<br>
        use the browse button below<br>
      </p>
      <my-File-Input text="Browse..."></my-file-Input>
    </div>
    <div ng-show="files">
      <ul class="thumbnails">
        <li ng-repeat="file in files">
          <upload-image></upload-image>
        </li>
      </ul>
      <div class="alert alert-info" ng-show="decoding">
        Decoding picture...
      </div>
      <my-File-Input text="Add more pics..."></my-file-Input>
    </div>
    <div>
      <h1>My Pics</h1>
    </div>
  </div>
  <div class="span6 text-center">
    <div ng-show="files">
      <p>Identify the QR code pic<br>
         to get into the event album</p>
    </div>
    <div>
      <h1>Event Pics</h1>
    </div>
  </div>
</div>
